<!-- Modal -->
<div class="modal fade @ModalClass" id="staticBackdrop" style="display:@ModalDisplay" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
@if (ShowBackdrop)
{
  <div class="modal-backdrop fade @ModalClass"></div>
}

@code
{
  [Parameter]
  public string ModalClass { get; set; }

  [Parameter]
  public string ModalDisplay { get; set; }

  [Parameter]
  public bool ShowBackdrop { get; set; }
}
