<!-- Modal -->
<div class="modal fade @ModalClass" id="staticBackdrop" style="display:@ModalDisplay" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
      @Title
      </div>
      <div class="modal-body">
        @Body
      </div>
      <div class="modal-footer">
        @Footer
      </div>
    </div>
  </div>
</div>
@if (ShowBackdrop)
{
  <div class="modal-backdrop fade @ModalClass"></div>
}

@code
{
  [Parameter]
  public string ModalClass { get; set; }

  [Parameter]
  public string ModalDisplay { get; set; }

  [Parameter]
  public bool ShowBackdrop { get; set; }

  [Parameter]
  public RenderFragment Title { get; set; }

  [Parameter]
  public RenderFragment Body { get; set; }

  [Parameter]
  public RenderFragment Footer { get; set; }
}
